# Tutorial - Crosstab

Crosstab is a tool for building nice data views with grouped dimensions and subtotals. For now Crosstab can only be build by using [pandas.DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) and can be saved as html table.

In [1]:
import pandas

d = {'id': [0, 0, 0, 0, 0, 0]
     , 'product':["toys", "toys", "toys", "toys", "books", "books"]
     , 'country':["italy", "sweden", "italy", "italy", "sweden", "sweden"]
     , 'customer':["siemsn", "abb", "abb", "te", "siemsn", "abb"]
     , 'sales': [3, 4, 1, 2, 3, 3]
     , 'orders': [1, 1, 1, 3, 2, None]}

df = pandas.DataFrame(d)

In [2]:
from grizly import Crosstab

In [3]:
columns = ['id', 'product', 'country', 'customer']
values = ['sales', 'orders']

crosstab = Crosstab().from_df(df, columns, values)
crosstab

<table>
<thead>
  <tr>
    <th> id </th>
    <th> product </th>
    <th> country </th>
    <th> customer </th>
    <th> sales </th>
    <th> orders </th>
  </tr>
</thead>
<tbody>
  <tr>
    <th rowspan=6> 0 </th>
    <th rowspan=4> toys </th>
    <th rowspan=3> italy </th>
    <th> siemsn </th>
    <td> 3 </td>
    <td> 1.0 </td>
  </tr>
  <tr>
    <th> abb </th>
    <td> 1 </td>
    <td> 1.0 </td>
  </tr>
  <tr>
    <th> te </th>
    <td> 2 </td>
    <td> 3.0 </td>
  </tr>
  <tr>
    <th> sweden </th>
    <th> abb </th>
    <td> 4 </td>
    <td> 1.0 </td>
  </tr>
  <tr>
    <th rowspan=2> books </th>
    <th rowspan=2> sweden </th>
    <th> siemsn </th>
    <td> 3 </td>
    <td> 2.0 </td>
  </tr>
  <tr>
    <th> abb </th>
    <td> 3 </td>
    <td> 0 </td>
  </tr>
</tbody>
</table>

In [4]:
crosstab.content

{(0, 'toys', 'italy', 'siemsn'): {'sales': 3, 'orders': 1.0},
 (0, 'toys', 'sweden', 'abb'): {'sales': 4, 'orders': 1.0},
 (0, 'toys', 'italy', 'abb'): {'sales': 1, 'orders': 1.0},
 (0, 'toys', 'italy', 'te'): {'sales': 2, 'orders': 3.0},
 (0, 'books', 'sweden', 'siemsn'): {'sales': 3, 'orders': 2.0},
 (0, 'books', 'sweden', 'abb'): {'sales': 3, 'orders': 0}}

## Adding new rows

In [5]:
crosstab.append((0, 'trucks', 'sweden', 'te'), [5,2,1])
crosstab

<table>
<thead>
  <tr>
    <th> id </th>
    <th> product </th>
    <th> country </th>
    <th> customer </th>
    <th> sales </th>
    <th> orders </th>
  </tr>
</thead>
<tbody>
  <tr>
    <th rowspan=7> 0 </th>
    <th rowspan=4> toys </th>
    <th rowspan=3> italy </th>
    <th> siemsn </th>
    <td> 3 </td>
    <td> 1.0 </td>
  </tr>
  <tr>
    <th> abb </th>
    <td> 1 </td>
    <td> 1.0 </td>
  </tr>
  <tr>
    <th> te </th>
    <td> 2 </td>
    <td> 3.0 </td>
  </tr>
  <tr>
    <th> sweden </th>
    <th> abb </th>
    <td> 4 </td>
    <td> 1.0 </td>
  </tr>
  <tr>
    <th rowspan=2> books </th>
    <th rowspan=2> sweden </th>
    <th> siemsn </th>
    <td> 3 </td>
    <td> 2.0 </td>
  </tr>
  <tr>
    <th> abb </th>
    <td> 3 </td>
    <td> 0 </td>
  </tr>
  <tr>
    <th> trucks </th>
    <th> sweden </th>
    <th> te </th>
    <td> 5 </td>
    <td> 2 </td>
  </tr>
</tbody>
</table>

## Adding new columns

In [6]:
crosstab.append("percent", [0.1, -0.5, 1, 1, -0.7, 0.2, -1], axis=1)
crosstab

<table>
<thead>
  <tr>
    <th> id </th>
    <th> product </th>
    <th> country </th>
    <th> customer </th>
    <th> sales </th>
    <th> orders </th>
    <th> percent </th>
  </tr>
</thead>
<tbody>
  <tr>
    <th rowspan=7> 0 </th>
    <th rowspan=4> toys </th>
    <th rowspan=3> italy </th>
    <th> siemsn </th>
    <td> 3 </td>
    <td> 1.0 </td>
    <td> 0.1 </td>
  </tr>
  <tr>
    <th> abb </th>
    <td> 1 </td>
    <td> 1.0 </td>
    <td> 1 </td>
  </tr>
  <tr>
    <th> te </th>
    <td> 2 </td>
    <td> 3.0 </td>
    <td> 1 </td>
  </tr>
  <tr>
    <th> sweden </th>
    <th> abb </th>
    <td> 4 </td>
    <td> 1.0 </td>
    <td> -0.5 </td>
  </tr>
  <tr>
    <th rowspan=2> books </th>
    <th rowspan=2> sweden </th>
    <th> siemsn </th>
    <td> 3 </td>
    <td> 2.0 </td>
    <td> -0.7 </td>
  </tr>
  <tr>
    <th> abb </th>
    <td> 3 </td>
    <td> 0 </td>
    <td> 0.2 </td>
  </tr>
  <tr>
    <th> trucks </th>
    <th> sweden </th>
    <th> te </th>
    <td> 5 </td>
    <td> 2 </td>
    <td> -1 </td>
  </tr>
</tbody>
</table>

In [7]:
crosstab.content

{(0, 'toys', 'italy', 'siemsn'): {'sales': 3, 'orders': 1.0, 'percent': 0.1},
 (0, 'toys', 'sweden', 'abb'): {'sales': 4, 'orders': 1.0, 'percent': -0.5},
 (0, 'toys', 'italy', 'abb'): {'sales': 1, 'orders': 1.0, 'percent': 1},
 (0, 'toys', 'italy', 'te'): {'sales': 2, 'orders': 3.0, 'percent': 1},
 (0, 'books', 'sweden', 'siemsn'): {'sales': 3,
  'orders': 2.0,
  'percent': -0.7},
 (0, 'books', 'sweden', 'abb'): {'sales': 3, 'orders': 0, 'percent': 0.2},
 (0, 'trucks', 'sweden', 'te'): {'sales': 5, 'orders': 2, 'percent': -1}}

## Adding subtotals

In [8]:
subtotals = ['id', 'country']
crosstab.add_subtotals(subtotals, aggregation={"sales": "sum", "orders": "sum", "percent": "avg"}, names={(0,): "Grand Total"})

<table>
<thead>
  <tr>
    <th> id </th>
    <th> product </th>
    <th> country </th>
    <th> customer </th>
    <th> sales </th>
    <th> orders </th>
    <th> percent </th>
  </tr>
</thead>
<tbody>
  <tr>
    <th rowspan=12> 0 </th>
    <th rowspan=6> toys </th>
    <th rowspan=4> italy </th>
    <th> siemsn </th>
    <td> 3 </td>
    <td> 1.0 </td>
    <td> 0.1 </td>
  </tr>
  <tr>
    <th> abb </th>
    <td> 1 </td>
    <td> 1.0 </td>
    <td> 1 </td>
  </tr>
  <tr>
    <th> te </th>
    <td> 2 </td>
    <td> 3.0 </td>
    <td> 1 </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> 6 </td>
    <td class=subtotal> 5.0 </td>
    <td class=subtotal> 0.7000000000000001 </td>
  </tr>
  <tr>
    <th rowspan=2> sweden </th>
    <th> abb </th>
    <td> 4 </td>
    <td> 1.0 </td>
    <td> -0.5 </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> 4 </td>
    <td class=subtotal> 1.0 </td>
    <td class=subtotal> -0.5 </td>
  </tr>
  <tr>
    <th rowspan=3> books </th>
    <th rowspan=3> sweden </th>
    <th> siemsn </th>
    <td> 3 </td>
    <td> 2.0 </td>
    <td> -0.7 </td>
  </tr>
  <tr>
    <th> abb </th>
    <td> 3 </td>
    <td> 0 </td>
    <td> 0.2 </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> 6 </td>
    <td class=subtotal> 2.0 </td>
    <td class=subtotal> -0.24999999999999997 </td>
  </tr>
  <tr>
    <th rowspan=2> trucks </th>
    <th rowspan=2> sweden </th>
    <th> te </th>
    <td> 5 </td>
    <td> 2 </td>
    <td> -1 </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> 5 </td>
    <td class=subtotal> 2 </td>
    <td class=subtotal> -1.0 </td>
  </tr>
  <tr>
    <th colspan=3 class=total> Grand Total </th>
    <td class=total> 21 </td>
    <td class=total> 10.0 </td>
    <td class=total> 0.0142857142857143 </td>
  </tr>
</tbody>
</table>

## Removing subtotals

In [9]:
crosstab.subtotals.pop((0, 'toys', 'sweden'))
crosstab.subtotals.pop((0, 'trucks', 'sweden'))
crosstab

<table>
<thead>
  <tr>
    <th> id </th>
    <th> product </th>
    <th> country </th>
    <th> customer </th>
    <th> sales </th>
    <th> orders </th>
    <th> percent </th>
  </tr>
</thead>
<tbody>
  <tr>
    <th rowspan=10> 0 </th>
    <th rowspan=5> toys </th>
    <th rowspan=4> italy </th>
    <th> siemsn </th>
    <td> 3 </td>
    <td> 1.0 </td>
    <td> 0.1 </td>
  </tr>
  <tr>
    <th> abb </th>
    <td> 1 </td>
    <td> 1.0 </td>
    <td> 1 </td>
  </tr>
  <tr>
    <th> te </th>
    <td> 2 </td>
    <td> 3.0 </td>
    <td> 1 </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> 6 </td>
    <td class=subtotal> 5.0 </td>
    <td class=subtotal> 0.7000000000000001 </td>
  </tr>
  <tr>
    <th> sweden </th>
    <th> abb </th>
    <td> 4 </td>
    <td> 1.0 </td>
    <td> -0.5 </td>
  </tr>
  <tr>
    <th rowspan=3> books </th>
    <th rowspan=3> sweden </th>
    <th> siemsn </th>
    <td> 3 </td>
    <td> 2.0 </td>
    <td> -0.7 </td>
  </tr>
  <tr>
    <th> abb </th>
    <td> 3 </td>
    <td> 0 </td>
    <td> 0.2 </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> 6 </td>
    <td class=subtotal> 2.0 </td>
    <td class=subtotal> -0.24999999999999997 </td>
  </tr>
  <tr>
    <th> trucks </th>
    <th> sweden </th>
    <th> te </th>
    <td> 5 </td>
    <td> 2 </td>
    <td> -1 </td>
  </tr>
  <tr>
    <th colspan=3 class=total> Grand Total </th>
    <td class=total> 21 </td>
    <td class=total> 10.0 </td>
    <td class=total> 0.0142857142857143 </td>
  </tr>
</tbody>
</table>

## Formatting numbers

In [10]:
formatter = {"sales": lambda x: "${:,.2f}".format(x), "orders": lambda x: "${:,.0f}".format(x), "percent": lambda x: "{0:,.1%}".format(x)}
crosstab.format(formatter)

<table>
<thead>
  <tr>
    <th> id </th>
    <th> product </th>
    <th> country </th>
    <th> customer </th>
    <th> sales </th>
    <th> orders </th>
    <th> percent </th>
  </tr>
</thead>
<tbody>
  <tr>
    <th rowspan=10> 0 </th>
    <th rowspan=5> toys </th>
    <th rowspan=4> italy </th>
    <th> siemsn </th>
    <td> $3.00 </td>
    <td> $1 </td>
    <td> 10.0% </td>
  </tr>
  <tr>
    <th> abb </th>
    <td> $1.00 </td>
    <td> $1 </td>
    <td> 100.0% </td>
  </tr>
  <tr>
    <th> te </th>
    <td> $2.00 </td>
    <td> $3 </td>
    <td> 100.0% </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> $6.00 </td>
    <td class=subtotal> $5 </td>
    <td class=subtotal> 70.0% </td>
  </tr>
  <tr>
    <th> sweden </th>
    <th> abb </th>
    <td> $4.00 </td>
    <td> $1 </td>
    <td> -50.0% </td>
  </tr>
  <tr>
    <th rowspan=3> books </th>
    <th rowspan=3> sweden </th>
    <th> siemsn </th>
    <td> $3.00 </td>
    <td> $2 </td>
    <td> -70.0% </td>
  </tr>
  <tr>
    <th> abb </th>
    <td> $3.00 </td>
    <td> $0 </td>
    <td> 20.0% </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> $6.00 </td>
    <td class=subtotal> $2 </td>
    <td class=subtotal> -25.0% </td>
  </tr>
  <tr>
    <th> trucks </th>
    <th> sweden </th>
    <th> te </th>
    <td> $5.00 </td>
    <td> $2 </td>
    <td> -100.0% </td>
  </tr>
  <tr>
    <th colspan=3 class=total> Grand Total </th>
    <td class=total> $21.00 </td>
    <td class=total> $10 </td>
    <td class=total> 1.4% </td>
  </tr>
</tbody>
</table>

## Styling numbers

In [11]:
def _color(value):
    try:
        if value >1:
            return "style='color:#B62222'"
        else:
            return "bgcolor= lightyellow"
    except:
        return ""
    
def _colorp(value):
    try:
        if value < 0:
            return "bgcolor= lightpink"
    except:
        return ""

In [12]:
crosstab.apply_style({"sales": _color, "orders": _color}, level=["content"])
crosstab.apply_style({"percent": _colorp}, level=["subtotals"])

<table>
<thead>
  <tr>
    <th> id </th>
    <th> product </th>
    <th> country </th>
    <th> customer </th>
    <th> sales </th>
    <th> orders </th>
    <th> percent </th>
  </tr>
</thead>
<tbody>
  <tr>
    <th rowspan=10> 0 </th>
    <th rowspan=5> toys </th>
    <th rowspan=4> italy </th>
    <th> siemsn </th>
    <td style='color:#B62222'> $3.00 </td>
    <td bgcolor= lightyellow> $1 </td>
    <td> 10.0% </td>
  </tr>
  <tr>
    <th> abb </th>
    <td bgcolor= lightyellow> $1.00 </td>
    <td bgcolor= lightyellow> $1 </td>
    <td> 100.0% </td>
  </tr>
  <tr>
    <th> te </th>
    <td style='color:#B62222'> $2.00 </td>
    <td style='color:#B62222'> $3 </td>
    <td> 100.0% </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> $6.00 </td>
    <td class=subtotal> $5 </td>
    <td class=subtotal None> 70.0% </td>
  </tr>
  <tr>
    <th> sweden </th>
    <th> abb </th>
    <td style='color:#B62222'> $4.00 </td>
    <td bgcolor= lightyellow> $1 </td>
    <td> -50.0% </td>
  </tr>
  <tr>
    <th rowspan=3> books </th>
    <th rowspan=3> sweden </th>
    <th> siemsn </th>
    <td style='color:#B62222'> $3.00 </td>
    <td style='color:#B62222'> $2 </td>
    <td> -70.0% </td>
  </tr>
  <tr>
    <th> abb </th>
    <td style='color:#B62222'> $3.00 </td>
    <td bgcolor= lightyellow> $0 </td>
    <td> 20.0% </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> $6.00 </td>
    <td class=subtotal> $2 </td>
    <td class=subtotal bgcolor= lightpink> -25.0% </td>
  </tr>
  <tr>
    <th> trucks </th>
    <th> sweden </th>
    <th> te </th>
    <td style='color:#B62222'> $5.00 </td>
    <td style='color:#B62222'> $2 </td>
    <td> -100.0% </td>
  </tr>
  <tr>
    <th colspan=3 class=total> Grand Total </th>
    <td class=total> $21.00 </td>
    <td class=total> $10 </td>
    <td class=total None> 1.4% </td>
  </tr>
</tbody>
</table>

In [13]:
crosstab.styling

{'content': {'sales': <function __main__._color(value)>,
  'orders': <function __main__._color(value)>},
 'subtotals': {'percent': <function __main__._colorp(value)>}}

In [14]:
crosstab.content

{(0, 'toys', 'italy', 'siemsn'): {'sales': 3, 'orders': 1.0, 'percent': 0.1},
 (0, 'toys', 'sweden', 'abb'): {'sales': 4, 'orders': 1.0, 'percent': -0.5},
 (0, 'toys', 'italy', 'abb'): {'sales': 1, 'orders': 1.0, 'percent': 1},
 (0, 'toys', 'italy', 'te'): {'sales': 2, 'orders': 3.0, 'percent': 1},
 (0, 'books', 'sweden', 'siemsn'): {'sales': 3,
  'orders': 2.0,
  'percent': -0.7},
 (0, 'books', 'sweden', 'abb'): {'sales': 3, 'orders': 0, 'percent': 0.2},
 (0, 'trucks', 'sweden', 'te'): {'sales': 5, 'orders': 2, 'percent': -1}}

In [15]:
crosstab.subtotals

{(0,): {'sales': 21, 'orders': 10.0, 'percent': 0.0142857142857143},
 (0, 'toys', 'italy'): {'sales': 6,
  'orders': 5.0,
  'percent': 0.7000000000000001},
 (0, 'books', 'sweden'): {'sales': 6,
  'orders': 2.0,
  'percent': -0.24999999999999997}}

## Changing subtotals

In [16]:
crosstab.subtotals[(0, 'toys', 'italy')]['orders'] = crosstab.subtotals[(0, 'toys', 'italy')]['sales'] * 3
crosstab

<table>
<thead>
  <tr>
    <th> id </th>
    <th> product </th>
    <th> country </th>
    <th> customer </th>
    <th> sales </th>
    <th> orders </th>
    <th> percent </th>
  </tr>
</thead>
<tbody>
  <tr>
    <th rowspan=10> 0 </th>
    <th rowspan=5> toys </th>
    <th rowspan=4> italy </th>
    <th> siemsn </th>
    <td style='color:#B62222'> $3.00 </td>
    <td bgcolor= lightyellow> $1 </td>
    <td> 10.0% </td>
  </tr>
  <tr>
    <th> abb </th>
    <td bgcolor= lightyellow> $1.00 </td>
    <td bgcolor= lightyellow> $1 </td>
    <td> 100.0% </td>
  </tr>
  <tr>
    <th> te </th>
    <td style='color:#B62222'> $2.00 </td>
    <td style='color:#B62222'> $3 </td>
    <td> 100.0% </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> $6.00 </td>
    <td class=subtotal> $18 </td>
    <td class=subtotal None> 70.0% </td>
  </tr>
  <tr>
    <th> sweden </th>
    <th> abb </th>
    <td style='color:#B62222'> $4.00 </td>
    <td bgcolor= lightyellow> $1 </td>
    <td> -50.0% </td>
  </tr>
  <tr>
    <th rowspan=3> books </th>
    <th rowspan=3> sweden </th>
    <th> siemsn </th>
    <td style='color:#B62222'> $3.00 </td>
    <td style='color:#B62222'> $2 </td>
    <td> -70.0% </td>
  </tr>
  <tr>
    <th> abb </th>
    <td style='color:#B62222'> $3.00 </td>
    <td bgcolor= lightyellow> $0 </td>
    <td> 20.0% </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> $6.00 </td>
    <td class=subtotal> $2 </td>
    <td class=subtotal bgcolor= lightpink> -25.0% </td>
  </tr>
  <tr>
    <th> trucks </th>
    <th> sweden </th>
    <th> te </th>
    <td style='color:#B62222'> $5.00 </td>
    <td style='color:#B62222'> $2 </td>
    <td> -100.0% </td>
  </tr>
  <tr>
    <th colspan=3 class=total> Grand Total </th>
    <td class=total> $21.00 </td>
    <td class=total> $10 </td>
    <td class=total None> 1.4% </td>
  </tr>
</tbody>
</table>

## Indented view
In the Jupyter Notebook it dosn't look good

In [17]:
from IPython.core.display import HTML

display(HTML(crosstab.to_html(indented=True)))

## Hiding columns

In [18]:
crosstab.hide_columns(["id", "product"])

crosstab

<table>
<thead>
  <tr>
    <th> country </th>
    <th> customer </th>
    <th> sales </th>
    <th> orders </th>
    <th> percent </th>
  </tr>
</thead>
<tbody>
  <tr>
    <th rowspan=4> italy </th>
    <th> siemsn </th>
    <td style='color:#B62222'> $3.00 </td>
    <td bgcolor= lightyellow> $1 </td>
    <td> 10.0% </td>
  </tr>
  <tr>
    <th> abb </th>
    <td bgcolor= lightyellow> $1.00 </td>
    <td bgcolor= lightyellow> $1 </td>
    <td> 100.0% </td>
  </tr>
  <tr>
    <th> te </th>
    <td style='color:#B62222'> $2.00 </td>
    <td style='color:#B62222'> $3 </td>
    <td> 100.0% </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> $6.00 </td>
    <td class=subtotal> $18 </td>
    <td class=subtotal None> 70.0% </td>
  </tr>
  <tr>
    <th> sweden </th>
    <th> abb </th>
    <td style='color:#B62222'> $4.00 </td>
    <td bgcolor= lightyellow> $1 </td>
    <td> -50.0% </td>
  </tr>
  <tr>
    <th rowspan=3> sweden </th>
    <th> siemsn </th>
    <td style='color:#B62222'> $3.00 </td>
    <td style='color:#B62222'> $2 </td>
    <td> -70.0% </td>
  </tr>
  <tr>
    <th> abb </th>
    <td style='color:#B62222'> $3.00 </td>
    <td bgcolor= lightyellow> $0 </td>
    <td> 20.0% </td>
  </tr>
  <tr>
    <th class=subtotal> Total </th>
    <td class=subtotal> $6.00 </td>
    <td class=subtotal> $2 </td>
    <td class=subtotal bgcolor= lightpink> -25.0% </td>
  </tr>
  <tr>
    <th> sweden </th>
    <th> te </th>
    <td style='color:#B62222'> $5.00 </td>
    <td style='color:#B62222'> $2 </td>
    <td> -100.0% </td>
  </tr>
  <tr>
    <th colspan=2 class=total> Grand Total </th>
    <td class=total> $21.00 </td>
    <td class=total> $10 </td>
    <td class=total None> 1.4% </td>
  </tr>
</tbody>
</table>