In [40]:
import pandas

d = {'id': [0, 0, 0, 0, 0, 0]
     , 'product':["toys", "toys", "toys", "toys", "books", "books"]
     , 'country':["italy", "sweden", "italy", "italy", "sweden", "sweden"]
     , 'customer':["siemsn", "abb", "abb", "te", "siemsn", "abb"]
     , 'sales': [3, 4, 1, 2, 3, 3]
     , 'orders': [1, 1, 1, 3, 2, None]}

df = pandas.DataFrame(d)

In [41]:
from grizly import Crosstab

In [42]:
columns = ['id', 'product', 'country', 'customer']
values = ['sales', 'orders']

crosstab = Crosstab().from_df(df, columns, values)
crosstab

In [43]:
crosstab.content

{(0, 'toys', 'italy', 'siemsn'): {'sales': 3, 'orders': 1.0},
 (0, 'toys', 'sweden', 'abb'): {'sales': 4, 'orders': 1.0},
 (0, 'toys', 'italy', 'abb'): {'sales': 1, 'orders': 1.0},
 (0, 'toys', 'italy', 'te'): {'sales': 2, 'orders': 3.0},
 (0, 'books', 'sweden', 'siemsn'): {'sales': 3, 'orders': 2.0},
 (0, 'books', 'sweden', 'abb'): {'sales': 3, 'orders': 0}}

## Adding new rows

In [44]:
crosstab.append((0, 'trucks', 'sweden', 'te'), [5,2,1])
crosstab

## Adding new columns

In [45]:
crosstab.append("percent", [0.1, -0.5, 1, 1, -0.7, 0.2, -1], axis=1)
crosstab

In [46]:
crosstab.content

{(0, 'toys', 'italy', 'siemsn'): {'sales': 3, 'orders': 1.0, 'percent': 0.1},
 (0, 'toys', 'sweden', 'abb'): {'sales': 4, 'orders': 1.0, 'percent': -0.5},
 (0, 'toys', 'italy', 'abb'): {'sales': 1, 'orders': 1.0, 'percent': 1},
 (0, 'toys', 'italy', 'te'): {'sales': 2, 'orders': 3.0, 'percent': 1},
 (0, 'books', 'sweden', 'siemsn'): {'sales': 3,
  'orders': 2.0,
  'percent': -0.7},
 (0, 'books', 'sweden', 'abb'): {'sales': 3, 'orders': 0, 'percent': 0.2},
 (0, 'trucks', 'sweden', 'te'): {'sales': 5, 'orders': 2, 'percent': -1}}

## Adding subtotals

In [47]:
subtotals = ['id', 'country']
crosstab.add_subtotals(subtotals, aggregation={"sales": "sum", "orders": "sum", "percent": "avg"}, names={(0,): "Grand Total"})

## Removing subtotals

In [48]:
crosstab.subtotals.pop((0, 'toys', 'sweden'))
crosstab.subtotals.pop((0, 'trucks', 'sweden'))
crosstab

## Formatting numbers

In [49]:
formatter = {"sales": lambda x: "${:,.2f}".format(x), "orders": lambda x: "${:,.0f}".format(x), "percent": lambda x: "{0:,.1%}".format(x)}
crosstab.format(formatter)

## Styling numbers

In [50]:
def _color(value):
    try:
        if value >1:
            return "style='color:#B62222'"
        else:
            return "bgcolor= lightyellow"
    except:
        return ""
    
def _colorp(value):
    try:
        if value < 0:
            return "bgcolor= lightpink"
    except:
        return ""

In [51]:
crosstab.apply_style({"sales": _color, "orders": _color}, level=["content"])
crosstab.apply_style({"percent": _colorp}, level=["subtotals"])

In [52]:
crosstab.styling

{'content': {'sales': <function __main__._color(value)>,
  'orders': <function __main__._color(value)>},
 'subtotals': {'percent': <function __main__._colorp(value)>}}

In [53]:
crosstab.content

{(0, 'toys', 'italy', 'siemsn'): {'sales': 3, 'orders': 1.0, 'percent': 0.1},
 (0, 'toys', 'sweden', 'abb'): {'sales': 4, 'orders': 1.0, 'percent': -0.5},
 (0, 'toys', 'italy', 'abb'): {'sales': 1, 'orders': 1.0, 'percent': 1},
 (0, 'toys', 'italy', 'te'): {'sales': 2, 'orders': 3.0, 'percent': 1},
 (0, 'books', 'sweden', 'siemsn'): {'sales': 3,
  'orders': 2.0,
  'percent': -0.7},
 (0, 'books', 'sweden', 'abb'): {'sales': 3, 'orders': 0, 'percent': 0.2},
 (0, 'trucks', 'sweden', 'te'): {'sales': 5, 'orders': 2, 'percent': -1}}

In [54]:
crosstab.subtotals

{(0,): {'sales': 21, 'orders': 10.0, 'percent': 0.0142857142857143},
 (0, 'toys', 'italy'): {'sales': 6,
  'orders': 5.0,
  'percent': 0.7000000000000001},
 (0, 'books', 'sweden'): {'sales': 6,
  'orders': 2.0,
  'percent': -0.24999999999999997}}

## Changing subtotals

In [55]:
crosstab.subtotals[(0, 'toys', 'italy')]['orders'] = crosstab.subtotals[(0, 'toys', 'italy')]['sales'] * 3
crosstab

## Adding Multicolumns