# Tutorial - SQLDB

In [1]:
from grizly import get_path, Config, SQLDB

In [2]:
json_path = get_path('dev', 'grizly', 'notebooks', 'config.json')

Config().from_json(json_path)

In [3]:
sqldb = SQLDB(db="redshift")
sqldb.engine_str

'mssql+pyodbc://redshift_acoe'

In [4]:
sqldb.check_if_exists(table="table_tutorial", schema="administration")

2020-03-13 12:23:41,643 INFO sqlalchemy.engine.base.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2020-03-13 12:23:41,643 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:23:41,829 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-03-13 12:23:41,829 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:23:42,028 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2020-03-13 12:23:42,028 INFO sqlalchemy.engine.base.Engine ()

C:\Users\TE386850\AppData\Local\Continuum\anaconda3\lib\site-packages\sqlalchemy\engine\default.py:384: SAWarning: Exception attempting to detect unicode returns: ProgrammingError("(pyodbc.ProgrammingError) ('25P02', '[25P02] [Amazon][Amazon Redshift] (30) Error occurred while trying to execute a query: [SQLState 25P02] ERROR:  current transaction is aborted, commands ignored until end of transaction block\\n (30) (SQLExecDirectW)')")
  "detect unicode returns: %r" % de

True

In [5]:
sqldb.get_columns(table="table_tutorial", schema="administration", column_types=True)

2020-03-13 12:23:58,558 INFO sqlalchemy.engine.base.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2020-03-13 12:23:58,558 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:23:59,039 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-03-13 12:23:59,039 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:23:59,196 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2020-03-13 12:23:59,196 INFO sqlalchemy.engine.base.Engine ()

(['col1', 'col2', 'col3', 'col4'],
 ['character varying',
  'double precision',
  'character varying',
  'double precision'])

In [ ]:
Config().add_keys(data={"new_key": {"sqldb": {"redshift": "mssql+pyodbc://Redshift", "denodo": "mssql+pyodbc://DenodoODBC"}}})

In [ ]:
sqldb = SQLDB(db="redshift", config_key="new_key")
sqldb.engine_str

In [ ]:
sqldb.check_if_exists(table="table_tutorial", schema="administration")

In [8]:
sqldb.create_table(table="test_k", columns=["col1", "col2"], types=["varchar", "int"], schema="sandbox")

Table CREATE TABLE sandbox.test_k (col1 varchar, col2 int) has been created successfully.

In [6]:
sqldb.insert_into(table="test_k", columns=["col1"], sql="SELECT col1 from administration.table_tutorial", schema="sandbox")

2020-03-13 12:24:14,174 INFO sqlalchemy.engine.base.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2020-03-13 12:24:14,174 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:24:14,487 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-03-13 12:24:14,487 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:24:14,645 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2020-03-13 12:24:14,660 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:24:16,674 INFO sqlalchemy.engine.base.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2020-03-13 12:24:16,674 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:24:16,987 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-03-13 12:24:16,987 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:24:17,149 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2020-03-13 12:24:17,149 INFO sqlalchemy.engine.base.Engine ()

In [7]:
sqldb.delete_from(table="test_k", schema="sandbox", where="col2 is NULL ")

2020-03-13 12:24:25,788 INFO sqlalchemy.engine.base.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2020-03-13 12:24:25,788 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:24:26,110 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-03-13 12:24:26,110 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:24:26,289 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2020-03-13 12:24:26,289 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:24:28,331 INFO sqlalchemy.engine.base.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2020-03-13 12:24:28,331 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:24:28,682 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-03-13 12:24:28,682 INFO sqlalchemy.engine.base.Engine ()
2020-03-13 12:24:28,842 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2020-03-13 12:24:28,842 INFO sqlalchemy.engine.base.Engine ()
Records from table sandbox.test_k where col2 is NULL  has been removed successfully.